/* колір основниго тексту -color: #757575;*/
/* колір вторинного тексту - color: #212121;*/
/* текст hero - color: #FFFFFF; */
/* маркери та кнопка в HERO - color: #2196F3; */
/* основний колір сторінки -  background: #FFFFFF*/
/* другий колір сторінки - background: #2F303A;*/
/* колір кнопок та НашаКоманда #F5F4FA;*/

:root {
     --primary-text-color: #757575;
     --title-text-color: #212121;
     --accent-color: #2196F3;
     --primary-bg-color: #FFFFFF;
     --hero-footer-bg-color: #2F303A;
     --button-ourteam-bg-color: #F5F4FA;
     /* Шрифти */
     --main-font: "Roboto", sans-serif;
     --secondary-font: "Raleway", sans-serif;
}

body {  
     list-style-type: none;   
     font-family: var(--main-font);
     background-color: var(--primary-bg-color);
     color: var(--primary-text-color);     
}
/* Шапка */
.header {
}
.nav {
}
.logo {
     color: currentColor;
     text-decoration: none;
     font-family: var(--secondary-font);
     font-weight: 700;
     font-size: 26px;
     line-height: calc(31/26);
     letter-spacing: 0.03em;
     cursor: pointer;
}
.logo-web {
     color: var(--accent-color);
}
.logo-stud {
    color: var(--title-text-color); 
}
.nav-list {
     list-style-type: none;
     font-weight: 500;
     font-size: 14px;
     line-height: calc(16/14);
     letter-spacing: 0.02em;
     color: var(--title-text-color);
}
.nav-list-item {
}
.nav-link {
     color: currentColor;
     text-decoration: none;
     cursor: pointer;
}
.nav-link:hover,
.nav-link:focus {
     color: var(--accent-color);
}
.nav-link-active {
     text-decoration: none;
     color: var(--accent-color);
     cursor: pointer;
}
.header-list {
     list-style-type: none;
     font-weight: 500;
     font-size: 14px;
     line-height: calc(16/14);
     letter-spacing: 0.02em;
}
.header-list-item {
}
.header-link {
     text-decoration: none;
     font-weight: 500;
     font-size: 14px;
     line-height: calc(16/14);
     letter-spacing: 0.02em;
     color: currentColor;
     cursor: pointer;
}
.header-link:hover,
.header-link:focus{
     color: var(--accent-color);
}
.main {
}
/* <!-- Hero section --> */
.hero {
     background-color: var(--hero-footer-bg-color);
}
.hero-main-title {
     font-weight: 900;
     font-size: 44px;
     line-height: calc(60/44);
     text-align: center;
     letter-spacing: 0.06em;
     text-transform: uppercase;
     color: var(--primary-bg-color);
}
.hero-btn {
     color: var(--primary-bg-color);
     background-color: var(--accent-color);
     cursor: pointer;
     font-weight: 700;
     font-size: 16px;
     line-height: calc(30/16);
     display: flex;
     align-items: center;
     text-align: center;
     letter-spacing: 0.06em;
     color: #FFFFFF;
}
.hero-btn:hover,
.hero-btn:focus {
     color: var(--primary-bg-color);
     background-color: var(--accent-color);
}
/*  <!-- Особливості --> */
.trait {
}
.visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
   }
.trait-list {
     list-style-type: none;
}
.trait-list-item {
}
.trait-subtitle {
     font-weight: 700;
     font-size: 14px;
     line-height: calc(16/14);
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: var(--title-text-color);
}
.trait-text {
     font-size: 14px;
     line-height: calc(24/14);
     letter-spacing: 0.03em;
}
.trait-lis-item {
}
/* <!-- Чим ми займаємося --> */
.produce {
}
.produce-title {
     font-weight: 700;
     font-size: 36px;
     line-height: calc(42/36);
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--title-text-color);
}
.produce-list {
     list-style-type: none;
}
.produce-lis-item {
}
.produce-img {
}
/* <!-- Наша команда --> */
.team {
     background-color: var(--button-ourteam-bg-color);
}
.team-title {
     font-weight: 700;
     font-size: 36px;
     line-height: calc(42/36);
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--title-text-color);
}
.team-list {
     list-style-type: none;
}
.team-lis-item {
}
.team-img {
}
.team-subtitle {
     font-weight: 500;
     font-size: 16px;
     line-height: calc(19/16);
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--title-text-color);
}
.team-text {
     font-size: 16px;
     line-height: calc(19/16);
     text-align: center;
     letter-spacing: 0.03em;
}

/* Footer */
.footer {
     background-color: var(--hero-footer-bg-color);
}
.footer-logo {
     color: currentColor;
     text-decoration: none;
     font-weight: 700;
     font-size: 26px;
     line-height: calc(31/26);
     letter-spacing: 0.03em;
     cursor: pointer;
}
.footer-logo-stud {
    color: var(--primary-bg-color); 
}
.address {
}
.footer-list {
     list-style-type: none;
}
.footer-lis-item {
}
.footer-address {
     text-decoration: none;
     color: none;
     color: var(--primary-bg-color);
     font-style: normal;
     font-size: 14px;
     line-height: calc(24/14);
     letter-spacing: 0.03em;
     cursor: pointer;
}
.footer-link {
     text-decoration: none;
     font-style: normal;
     cursor: pointer;
     font-size: 14px;
     line-height: calc(24/14);
     letter-spacing: 0.03em;
     color: rgba(255, 255, 255, 0.6);
}

/* Сторінка портфоліо */
.portfolio-hide {
}
.portfolio {
}
.portfolio-title {
}
.portfolio-list {
     list-style-type: none;
}
.portfolio-list-item {
     font-weight: 500;
     font-size: 16px;
     line-height: calc(26/16);
     text-align: center;
     letter-spacing: 0.03em;
}
.portfolio-btn {
     font-weight: 500;
     font-size: 16px;
     line-height: calc(26/16);
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--title-text-color);
     background-color: var(--button-ourteam-bg-color);
     cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
     color: var(--primary-bg-color);
     background-color: var(--accent-color);
}
.port-list {
     list-style-type: none;
}
.port-list-item {
}
.port-img {
}
.port-subtitle {
     font-weight: 700;
     font-size: 18px;
     line-height: calc(36/18);
     letter-spacing: 0.06em;
     color: var(--title-text-color);
}
.port-text {
     font-size: 16px;
     line-height: calc(30/16);
     letter-spacing: 0.03em;
}